<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cyton">
  <xacro:arg name="use_sim" default="False"/>
  <xacro:arg name="initial_positions_file" default="$(find cyton_moveit)/config/initial_positions.yaml" />

  <xacro:include filename="$(find cyton_bringup)/urdf/cyton_macros.urdf.xacro" />

  <xacro:if value="$(arg use_sim)">
    <xacro:include filename="$(find cyton_bringup)/urdf/cyton_ignition.xacro" />
  </xacro:if>
  <xacro:unless value="$(arg use_sim)">
    <xacro:include filename="$(find cyton_bringup)/urdf/cyton.hardware.xacro" />
  </xacro:unless>
  <xacro:cyton_robot/>
  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_footprint" />
    <origin xyz="0.0 0.0 0.0001" rpy="0.0 0.0 0.0" />
  </joint>
</robot>
