<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
    <xacro:macro name="plugins_hardware" params="usb_port baud_rate initial_positions_file">

        
        <xacro:macro name="ros_control_dynamixel" params="usb_port baud_rate">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="DynamixelHardware" type="system">
            <hardware>
              <plugin>dynamixel_hardware/DynamixelHardware</plugin>
              <param name="usb_port">${usb_port}</param>
              <param name="baud_rate">${baud_rate}</param>
              <param name="joint_ids">1,2,3,4,5,6,7,8</param>
            </hardware>

            <joint name="joint1">
                <param name="id">1</param>
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint2">
                <param name="id">2</param>
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint3">
                <param name="id">3</param>
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint4">
                <param name="id">4</param>
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint5">
                <param name="id">5</param>
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint6">
                <param name="id">6</param>
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint7">
                <param name="id">7</param>
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint8">
                <param name="id">8</param>
                <param name="position_multiplier">-134.175</param>
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint8']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>
      </xacro:macro>
    
      <xacro:macro name="ros_control_odrive" params="name">
        <ros2_control name="${name}_motors" type="system">

            <hardware>
              <plugin>???PioneerDriver???</plugin>
              <param name="velocity_limit">30</param>
              <param name="current_limit">60</param>
            </hardware>

          <joint name="left_wheel_joint">
              <command_interface name="velocity">
                  <param name="min">-10</param>
                  <param name="max">10</param>
              </command_interface>
              <state_interface name="velocity"/>
              <state_interface name="position"/>
          </joint>
          <joint name="right_wheel_joint">
              <command_interface name="velocity">
                  <param name="min">-10</param>
                  <param name="max">10</param>
              </command_interface>
              <state_interface name="velocity"/>
              <state_interface name="position"/>
          </joint>
          <joint name="swivel_joint">
              <state_interface name="velocity"/>
              <state_interface name="position"/>
          </joint>
          <joint name="swivel_wheel_joint">
              <state_interface name="velocity"/>
              <state_interface name="position"/>
          </joint>
        </ros2_control>
      </xacro:macro>

      <xacro:ros_control_dynamixel usb_port="${usb_port}" baud_rate="${baud_rate}" />
      <xacro:ros_control_odrive name="pioneer"/>

    </xacro:macro>
<!-- insert ros2 hardware controllers here -->

</robot>