<?xml version="1.0"?>

<!-- 

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  IFRA (Intelligent Flexible Robotics and Assembly) Group, CRANFIELD UNIVERSITY        #
#  Created on behalf of the IFRA Group at Cranfield University, United Kingdom          #
#  E-mail: IFRA@cranfield.ac.uk                                                         #
#                                                                                       #
#  Licensed under the Apache-2.0 License.                                               #
#  You may not use this file except in compliance with the License.                     #
#  You may obtain a copy of the License at: http://www.apache.org/licenses/LICENSE-2.0  #
#                                                                                       #
#  Unless required by applicable law or agreed to in writing, software distributed      #
#  under the License is distributed on an "as-is" basis, without warranties or          #
#  conditions of any kind, either express or implied. See the License for the specific  #
#  language governing permissions and limitations under the License.                    #
#                                                                                       #
#  IFRA Group - Cranfield University                                                    #
#  AUTHORS: Mikel Bueno Viso - Mikel.Bueno-Viso@cranfield.ac.uk                         #
#           Seemal Asif      - s.asif@cranfield.ac.uk                                   #
#           Phil Webb        - p.f.webb@cranfield.ac.uk                                 #
#                                                                                       #
#  Date: July, 2022.                                                                    #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  Some of the information used to build the ROS2 cyton-Robot .urdf files in this ROS2  #
#  repository has been taken from the following resources:                              #
#     - frankaemika/franka_ros2 -> https://github.com/frankaemika/franka_ros2.          #
#       The original files can be found in the franka_description ROS2 package inside   #
#       he franka_ros2 GitHub repository.                                               #
#                                                                                       #
#  AUTHOR: Franka Emika GmbH - support@franka.de                                        #
#                                                                                       #
#  Copyright 2021 Franka Emika GmbH                                                     #
#  (ORIGINAL LICENSE) -> Licensed under the Apache-2.0 License.                         #
#                                                                                       #
#  CHANGES MADE:                                                                        #
#  Robot information/specifications have been taken, and the code has been modified and #
#  re-organised in accordance with the ros2_RobotSimulation standards.                  #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ======= CITE OUR WORK ======= #
# You can cite our work with the following statement:
# IFRA (2022) ROS2.0 ROBOT SIMULATION. URL: https://github.com/IFRA-Cranfield/ros2_RobotSimulation.

-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="cyton_ignition" >

    <gazebo>
      <plugin name="ign_ros2_control::IgnitionROS2ControlPlugin" filename="libign_ros2_control-system.so" >
      <parameters> $(find cyton_bringup)/config/cyton_controller.yaml </parameters>
      </plugin>
    </gazebo>

    
  <ros2_control name="IgnitionSystem" type="system">
    <hardware>
      <plugin>ign_ros2_control/IgnitionSystem</plugin>
    </hardware>

      <!-- cyton_joint1 -->
      <joint name="joint1">
        <!-- <param name="initial_position">0.0</param> -->
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.1750</param>
          <param name="max">2.1750</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- cyton_joint2 -->
      <joint name="joint2">
        <!-- <param name="initial_position">-0.785</param> -->
        <command_interface name="position">
          <param name="min">-1.7628</param>
          <param name="max">1.7628</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.1750</param>
          <param name="max">2.1750</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- cyton_joint3 -->
      <joint name="joint3">
        <!-- <param name="initial_position">0.0</param> -->
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.1750</param>
          <param name="max">2.1750</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- cyton_joint4 -->
      <joint name="joint4">
        <!-- <param name="initial_position">-2.356</param> -->
        <command_interface name="position">
          <param name="min">-3.0718</param>
          <param name="max">0.0698</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.1750</param>
          <param name="max">2.1750</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- cyton_joint5 -->
      <joint name="joint5">
        <!-- <param name="initial_position">0.0</param> -->
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.6100</param>
          <param name="max">2.6100</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

            <!-- cyton_joint7 -->
      <joint name="joint6">
        <!-- <param name="initial_position">0.785</param> -->
        <command_interface name="position">
          <param name="min">-3.15</param> <!-- ** -3.935 -->
          <param name="max">3.15</param> <!-- ** 2.365 -->
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.6100</param>
          <param name="max">2.6100</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- cyton_joint6 -->
      <joint name="joint7">
        <!-- <param name="initial_position">1.5708</param> -->
        <command_interface name="position">
          <param name="min">-0.0175</param> <!-- ** -1.5883 -->
          <param name="max">3.7525</param> <!-- ** 2.1817 -->
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.6100</param>
          <param name="max">2.6100</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>



      <!-- cyton_joint7 -->
      <joint name="joint8">
        <!-- <param name="initial_position">0.785</param> -->
        <command_interface name="position">
          <param name="min">-3.15</param> <!-- ** -3.935 -->
          <param name="max">3.15</param> <!-- ** 2.365 -->
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.6100</param>
          <param name="max">2.6100</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>


      <joint name="joint9">
        <param name="mimic">joint8</param>
        <param name="multiplier">-1</param>
        <command_interface name="position"></command_interface>
        <state_interface name="position"></state_interface>
      </joint>

      

    </ros2_control>

    <gazebo reference="joint1">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="joint2">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="joint3">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="joint4">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="joint5">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="joint7">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="joint6">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="joint8">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="joint9">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>
    <!-- <gazebo reference="virtual_endeffector">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo> -->
    <gazebo reference="base_footprint">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="base_link">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>

    <!-- <gazebo reference="virtual_endeffector_joint">
      <preserveFixedJoint>true</preserveFixedJoint> -->
      <!-- For compatibility with SDFormat < 4.4 -->
      <!-- <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo> -->

  </xacro:macro>

</robot>